.tags {
	display: flex;
	// margin-top: auto;
	margin-bottom: 21px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1176px;
	flex-direction: column;
	width: 100%;

	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
	}

	&__item {
		border: 1px solid #f1f1f1;
		margin-right: 4px;
		margin-bottom: 3px;
		padding: 5px 11px;

		a {
			color: $base;
			font-family: Arial;
			font-size: 14px;
			line-height: 28px;
			padding-bottom: 3px;
			text-decoration: none !important;

			&:hover {
				// border-bottom: 1px dashed transparent;
			}
		}

		&:last-child {
			margin-right: 0;
			// border: 1px solid $base;
		}

		&.active {
			border: 1px solid $base;

			a {
				color: $base;
				font-family: Arial;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.6px;
			}
		}

		&:hover {
			background-color: #f1f1f1;
			border: 1px solid $base;
		}

		&.button,
		&.js-tags_data {
			order: 2;
			border: 0;
			align-items: center;
			display: flex;
			align-items: center;
			background-color: transparent;
			color: $base;
			cursor: pointer;

			a {
				border-bottom: 1px dashed $base;
				line-height: 1;
			}

			&:after {
				content: '';
				background: url('https://icongr.am/entypo/chevron-small-down.svg?color=00b2b2&size=50');
				width: 12px;
				height: 12px;
				background-size: 22px;
				background-position: center;
				background-repeat: no-repeat;
				margin-left: 5px;
			}
		}

		&.another {
			order: 3;
		}

		&.last {
			order: 4;
		}

		// &:nth-child(-n+8) {
		// 	display: block;
		// }
		&.show {
			display: flex !important;
		}
	}

	&__title {
		color: #212121;
		font-family: "Roboto Condensed";
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 48px;
	}


	&__all {
		border-radius: 3px;
		border: 1px solid $base;
		color: $base;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		position: absolute;
		right: 3px;
		top: 4px;
		padding: 6px 12px;
		text-decoration: none !important;
	}

	.container {
		position: relative;
	}

	&.main-tags {
		margin-bottom: 48px;
		position: relative;

		@media screen and (max-width: 1200px) {
			margin: 0 16px 48px;
			max-width: 100%;
			width: -webkit-fill-available;
			flex: 1 1 100%
		}
	}

	.text-default & {
		margin: 0 auto 0 0;
	}


	@media screen and (max-width: 767px) {
		display: block;
		overflow-x: auto;
		margin-bottom: 40px;
		margin-right: unset;
		margin-left: unset;

		position: relative;

		&.main-tags {
			display: block;
			overflow-x: unset;
			margin-bottom: 30px;
			padding-left: 16px;
		}

		&__container {
			display: block;
			overflow-x: auto;
		}

		&__list {
			max-width: 1176px;
			overflow-x: scroll;
			width: 1176px;
		}

		&__title {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 30px;
		}

		&__all {
			display: none;
		}
	}
}
