.header__dropdown-menu {
	display: flex;
	align-items: center;
	margin-left: 0;
	margin-top: auto;
	margin-bottom: auto;
	flex-grow: 1;
	padding-left: 40px;

	.container {
		display: flex;
	}

	.dropdown-menu {
		// position: relative;
		display: flex;
		align-items: center;

		&__list {
			margin: 0;
			padding: 22px 0 0 0px;
			list-style-type: none;
			display: none;
			flex-direction: row;
			flex-wrap: wrap;
			background-color: #ffffff;
			margin-top: 7px;
			max-height: calc(100vh - 95px);
			// max-height: calc(100vh - 95px);
		}

		&:nth-child(1) {
			margin-right: 0;

			.dropdown-menu__title {
				display: flex;
				align-items: center;

				&:before {
					width: 14px;
					height: 12px;
					flex-shrink: 0;
					content: '';
					background: url('../images/neff-menuPic.svg');
					background-repeat: no-repeat;
					background-size: 14px 12px;
					background-position: 0 center;
					margin-right: 11px;
				}
			}

		}

		&:nth-child(2) {
			margin-left: 7px;
		}

		&:nth-child(3) {
			margin-left: 8px;
			margin-right: 43px;
		}

		&__title {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: condensed;
			line-height: normal;
			padding: 9px 35px 9px 13px;
			color: #333333;
			box-shadow: 0 2px 21px 0 transparent;
			letter-spacing: -0.1px;
			cursor: pointer;
			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") calc(100%-14px)/14px no-repeat;
			white-space: nowrap;

			&.last {
				background: unset !important;

				a {
					color: #333333;
				}

				&:hover {
					a {
						color: $base;
						text-decoration: none;
					}
				}
			}

			&:hover {

				color: $base;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=00b2b2") calc(100%-14px)/14px no-repeat;
			}

			&.last {
				padding: 9px 12px 9px 22px;
			}

		}

		&__link {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: condensed;
			letter-spacing: normal;
			color: #333333;
			padding: 17px 16px 9px 75px;
			color: #333333;
			cursor: pointer;
			// background: #ffffff;

			&:hover {
				color: $base;
				text-decoration: underline;
			}
		}

		&__text {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: condensed;
			letter-spacing: normal;
			color: #333333;
			padding: 19px 16px 9px 86px;
			color: #333333;
			// cursor: pointer;
		}

		&.active {


			.dropdown-menu__list {
				display: flex;
				// overflow-y: scroll;
				max-width: 1176px;
				margin-right: 0px;
				padding-right: 0px;
				height: 100%;
				align-content: baseline;
				// justify-content: space-between;
			}

			.dropdown-menu__item {
				display: flex;
				flex-direction: column;
				// width: calc(100%/4);
				width: auto;
				// height: calc(100%/3);
				width: 21%;
				// flex-basis: ;
				background-repeat: no-repeat !important;
				background-position: 2px 9px !important;
				margin-bottom: 22px;
				align-items: baseline;




				&:nth-child(4n+1) {
					// width: calc(25% + 6px);
					width: 28%;

				}

				&:nth-child(4n+2) {
					width: calc(23% + 3px);

				}

				&:nth-child(4n+4) {
					margin: 0 0 22px 2%;
				}

				&:nth-child(1) {
					background-size: 17% !important;
					// background-position: calc(100% + 2px) 10px;
				}

				&:nth-child(2) {
					background-size: 20% !important;
				}

				&:nth-child(3) {
					background-size: 23% !important;
					// background-position: calc(100%-3px) 2px;
				}

				&:nth-child(4) {
					background-size: 22% !important;
					// background-position: calc(100% - 20px) 10px;
				}

				&:nth-child(5) {
					background-size: 17% !important;
					// background-position: calc(100% - 12px) 10px;
				}

				&:nth-child(6) {
					background-size: 20% !important;
					// background-position: calc(100% - 9px) 14px;
				}

				&:nth-child(7) {
					background-size: 22% !important;
					// background-position: calc(100% - 9px) 14px;
				}

				&:nth-child(8) {
					background-size: 22% !important;
					// background-position: calc(100% - 9px) 14px;
				}

				&.accessory {
					padding: 18px 18px 26px;
					margin: 18px 0 24px;
					background-color: #f8f8f8 !important;
					width: 100%;
					background-size: 0% !important;


					.dropdown-menu__link {
						background: #f8f8f8;
						padding: 0px 16px 5px;
						white-space: normal;
						width: 100%;
						color: #333333;
						font-family: "Roboto Condensed";
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
						text-decoration: unset !important;
					}

					.sub-menu__list {
						flex-direction: row;
						flex-wrap: wrap;
						padding-left: 0;
						justify-content: space-between;
					}

					.sub-menu__item {
						padding-left: 2%;
						width: 25%;
					}
				}
			}

			.dropdown-menu__link {
				white-space: nowrap;
			}

			.dropdown-menu__title {
				box-shadow: 0 -10px 21px 0 rgba(0, 0, 0, 0.1);
				z-index: 2;
				position: relative;
				color: $base;
				background: url("https://icongr.am/entypo/chevron-up.svg?color=00b2b2") calc(100%-14px)/14px no-repeat;

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					background: white;
					// top: 0;
					left: 0;
					bottom: -5px;
				}
			}

			.dropdown-menu__parent {
				position: absolute;
				// overflow: hidden;
				// box-shadow: 0 18px 41px 0 rgba(0, 0, 0, 0.1);
				z-index: 1;
				top: 57px;
				width: auto;
				// margin: 0 -25vw;
				// width: 150vw;
				width: 100%;
				// left: -22vw;
				// height: 673px;
				// right: -18px;
				left: 0;
				display: flex;
				justify-content: center;
				background: white;
				box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.09);

				// &:before,
				// &:after {
				// 	content: '';
				// 	position: absolute;
				// 	width: 100%;
				// 	height: 100%;
				// 	background: white;
				// 	top: 0;
				// 	bottom: 0;
				// }

				// &:before {
				// 	left: calc(-100% + 1px);
				// }

				// &:after {
				// 	right: calc(-100% + 1px);
				// }
			}

		}
	}

	.header__banner {
		width: 30%;
	}

	.sub-menu__list {
		display: flex;
		flex-direction: column;
		padding-left: 30px;
		list-style: none;
	}


	.sub-menu__item {
		display: flex;
		padding-right: 16px;
		padding-left: 49px;
	}

	.sub-menu__link,
	.sub-menu__item {
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
		white-space: nowrap;


		&:hover {
			color: $base;
		}
	}

	.sub-menu__link {
		&:before {
			content: ' ∙ ';
		}
	}

	@media (max-width: 1200px) {
		// margin-left: 58px;
	}

	.time-work {
		display: none;
	}
}

@media (max-width: 767px) {
	.menu.active {
		// height: 500px;
		height: auto;
		// overflow-y: scroll;
	}

	* {
		transition: unset;
	}

	.header__dropdown-menu {
		align-items: baseline;
		width: unset;
		display: flex;
		flex-direction: column;
		position: unset;
		order: -1;
		margin-left: 0;
		padding-left: 0;
		max-width: 100%;
		width: 100%;
		flex-grow: 0;
		margin: 0;

		.container {
			padding: 0;
			padding-top: 3px;
			margin: 0;
		}

		.dropdown-menu {
			display: flex;
			margin-left: 0 !important;
			flex-wrap: wrap;
			padding-left: 0px;
			width: 100%;


			&__three {
				margin-bottom: 0;
				border-bottom: 0;
			}

			&:first-child {
				// background: url("../images/dp-2.svg") no-repeat 0 10px;

			}

			&:nth-child(2) {
				// background: url("../images/dp-1.svg") no-repeat 0 10px;

			}

			&:nth-child(3) {
				display: none;
			}
		}

		.dropdown-menu__back {
			display: none;
		}

		.header__telephones {
			// display: none !important;
		}

		.time-work {
			color: #666;
			font-family: Arial;
			font-size: 13px;
			line-height: 22px;
			text-align: left;
			display: block;

			i {
				color: #666;
				font-family: Arial;
				font-size: 13px;
				line-height: 22px;
				text-align: left;
				font-style: normal;
				margin-right: 4px;
			}
		}

		.header__telephones {
			display: flex;
			flex-wrap: wrap;
			margin-top: 0;
			align-items: baseline;
			order: 3;
			max-height: 190px;
			padding-top: 1rem;
		}
	}

	.menu-480 {
		.header__dropdown-menu {
			display: none !important;
		}

		background: url("https://icongr.am/entypo/chevron-down.svg?color=eeeeee")100% 50%/18px no-repeat !important;

		&:hover {
			background: url("https://icongr.am/entypo/chevron-down.svg?color=00b2b2") 100% 50%/18px no-repeat !important;
			background-color: #5a5a5a;
		}
	}

	.header__dropdown-menu {
		.dropdown-menu {
			&__title {
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
				line-height: 46px;
				padding: 0;
				width: 100%;

				// &:hover {
				// 	box-shadow: none !important;
				// }

				&.last {
					padding: 0;
					border-top: 1px solid #f1f1f1;
				}

				&:before {
					display: none;
				}
			}

			.dropdown-menu__parent {
				margin-left: -31px;
			}

			&.active {
				&:before {
					display: none;
				}

				.dropdown-menu__list,
				.dropdown-menu__parent {
					position: unset;
					box-shadow: none;
					padding-top: 0;
					margin-top: 0;
					margin-right: 0px;
					margin-left: 0px;
					width: 100%;
					height: auto;
					right: unset;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 100%;
				}

				.dropdown-menu__list {
					overflow: hidden;
					max-height: unset;
					flex-direction: column;
				}


				.dropdown-menu__title {
					box-shadow: none !important;
				}

				.dropdown-menu__item,
				.dropdown-menu__item.accessory {
					width: 100% !important;
					background-position: 0px 31px !important;
					background-size: auto 32px !important;
					margin: 0 0 5px 0 !important;
					flex-basis: unset;
					flex-grow: 1;
					max-width: 100%;
					padding: 0 !important;

					// &:nth-child(5) {
					// 	background-position: 0px 25px !important;
					// 	background-size: 32px !important;
					// 	margin-bottom: 5px;
					// }

					&:nth-child(1) {
						background-size: 48px !important;
						// background-position: calc(100% + 2px) 10px;
					}

					&:nth-child(2) {
						background-size: 48px !important;
					}

					&:nth-child(3) {
						background-size: 48px !important;
						// background-position: calc(100%-3px) 2px;
					}

					&:nth-child(4) {
						background-size: 48px !important;
						// background-position: calc(100% - 20px) 10px;
					}

					&:nth-child(5) {
						background-size: 48px !important;
						// background-position: calc(100% - 12px) 10px;
					}

					&:nth-child(6) {
						background-size: 14% !important;
						// background-position: calc(100% - 9px) 14px;
					}

					&:nth-child(7) {
						background-size: 48px !important;
						// background-position: calc(100% - 9px) 14px;
					}

					&:nth-child(8) {
						background-size: 48px !important;
						// background-position: calc(100% - 9px) 14px;
					}

					&.accessory {

						background: url("../images/siemens-menu-9.png") no-repeat !important;
						background-size: 48px !important;
						background-color: unset !important;
						background-position: 0px 31px !important;

						a {
							display: flex;
							flex-direction: column;
							text-decoration: unset;
						}

						.dropdown-menu__link {
							padding: 8px 0 2.2px !important;
							margin-top: 12px;
							white-space: normal !important;
							font-weight: 400;
							// line-height: 24px;
							color: #333333;
							font-size: 16px;
							font-weight: 400;
							margin-left: 63px;
							line-height: 36px;
							background: white;


						}
							.sub-menu__list {
								padding-left: 24px;
								margin-bottom: 0px;
								flex-direction: column;
							}

							.sub-menu__link {
								color: #666666;
								font-size: 13px;
								font-weight: 400;
								line-height: 24px;
								display: flex;
								align-items: center;
								flex-direction: row;


								&:before {
									content: " ∙ ";
									margin-right: 6px;
								}
							}
								.sub-menu__item {
									padding-left: 36px;
									width: 100% !important;
								}
					}
				}
			}
		}

		.sub-menu__list {
			padding-left: 24px;
			margin-bottom: 0px;
			flex-direction: column;
		}

		.sub-menu__link {
			color: #666666;
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;
			display: flex;
			align-items: center;


			&:before {
				content: " ∙ ";
				margin-right: 6px;
			}
		}

		.dropdown-menu__link,
		.dropdown-menu__text {
			padding: 8px 0 2.2px !important;
			margin-top: 12px;
			white-space: normal !important;
			font-weight: 400;
			// line-height: 24px;
			color: #333333;
			font-size: 16px;
			font-weight: 400;
			margin-left: 63px;
			line-height: 36px;
		}

		.sub-menu__item {
			padding-left: 36px;
			width: 100% !important;
		}
	}

	.menu__item {
		display: flex;
		position: relative;
		flex-wrap: wrap;

		&:first-child {


			// &:hover {
			// 	background: url("https://icongr.am/entypo/chevron-down.svg?color=00b2b2") 100% 50%/18px no-repeat;
			// 	background-color: #262626;
			// }

			span {
				width: 100%;
			}
		}
	}

}

// @media (max-width: 1150px) {
// 	.header__dropdown-menu {
// 		margin-left: 1%;

// 		.dropdown-menu__title {
// 			padding: 2% 8% 2% 4%;
// 			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 101%/14px no-repeat;

// 			&:hover {
// 				background: url("https://icongr.am/entypo/chevron-down.svg?color=00b2b2") 101%/14px no-repeat;
// 			}
// 		}
// 	}


// }

// @media (max-width: 1000px) {
// 	.header__dropdown-menu {

// 		.dropdown-menu {
// 			margin-left: 0;

// 			&:nth-child(2) {
// 				margin-left: 0;
// 			}

// 			&:nth-child(3) {
// 				margin-left: 0;
// 			}
// 		}

// 		.header__telephones {
// 			margin-left: 0;
// 		}
// 	}


// }



// @media (max-width: 965px) {
// 	.header__dropdown-menu {
// 		flex-wrap: wrap;
// 		margin-left: 0;

// 		.container {
// 			display: block;

// 			.header__telephones {
// 				display: flex;
// 				width: 100%;
// 				padding: 0 24px;
// 			}

// 			.header__phone {
// 				font-size: 20px;
// 				font-weight: 500;
// 				font-style: normal;
// 				font-stretch: normal;
// 				line-height: 1.2;
// 				letter-spacing: normal;
// 				text-align: left;
// 				color: #eeeeee;
// 			}

// 			.header__call-phone-button {
// 				background: unset;
// 			}
// 		}

// 		.dropdown-menu {
// 			width: 100%;
// 			display: flex;
// 			border-top: none;
// 			flex-wrap: wrap;

// 			&:nth-child(2) {
// 				margin-left: 0;
// 			}

// 			&:nth-child(3) {
// 				margin-left: 0;
// 			}

// 			&__back {
// 				display: block;
// 				text-transform: uppercase;
// 				border-top: 1px solid #494949;
// 				font-size: 14px;
// 				font-weight: 500;
// 				font-style: normal;

// 				font-stretch: normal;
// 				line-height: 4;
// 				letter-spacing: normal;
// 				text-align: left;
// 				width: 100%;
// 				justify-content: flex-end;
// 				color: #eeeeee;
// 				text-align: right;
// 				background: url("https://icongr.am/entypo/chevron-left.svg?color=eeeeee") 0/18px no-repeat;
// 			}

// 			&__list {
// 				box-shadow: none;
// 				margin-top: 0;

// 				li:hover {
// 					color: $base
// 				}
// 			}

// 			&__item {
// 				flex-basis: 100%;
// 			}

// 			&__link {
// 				padding-left: 0;
// 				font-size: 14px;
// 				font-weight: normal;
// 				font-style: normal;
// 				font-stretch: condensed;
// 				letter-spacing: normal;
// 				color: #666666;
// 			}

// 			&__title {
// 				padding: 15px 0;
// 				width: 100%;

// 				&:hover {
// 					box-shadow: none;

// 				}
// 			}

// 			&+.dropdown-menu {
// 				border-top: 1px solid #f1f1f1;
// 				border-bottom: 1px solid #f1f1f1;


// 				&+.dropdown-menu {
// 					border-top: none;
// 					border-bottom: 1px solid #f1f1f1;

// 				}
// 			}

// 			&:last-child {
// 				border-bottom: 1px solid #f1f1f1;
// 			}
// 		}

// 		.header__telephones {
// 			display: none;
// 		}

// 		.active {
// 			.dropdown-menu__list {
// 				position: unset !important;
// 			}


// 			.dropdown-menu__title {
// 				background: url("https://icongr.am/entypo/chevron-down.svg?color=666666") 97%/18px no-repeat;
// 				box-shadow: none !important;
// 			}

// 		}
// 	}
// }
