<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
			<ul class="work-link">
				<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
				<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a>
				</li>
				<li class="work-link__item"><a class="work-link__a" href="/warranty/">Официальная гарантия</a></li>
			</ul>

			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Видеозаписи</span>
		</div>
		<h1 class="title">
			Видеозаписи
		</h1>
		<div class="all-video js-news__inner">

			<div class="all-video__item" id="bx_3218110189_26846">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/EBTsBrONbUw">

					<picture>

						<source type="image/webp" data-srcset="images/all-video-1.jpg" srcset="images/all-video-1.jpg">

						<img data-src="images/all-video-1.jpg" alt="Система Home Connect у сушильных машин Siemens"
							class="video__pic lazyloaded" src="images/all-video-1.jpg">
					</picture>

					<div class="all-video__link"> Система Home Connect у сушильных машин Siemens</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26844">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/i5ualDMqQCs">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/479/272_170_2/479c61ed08307b8231cbb4890c2bdbe1.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/479/272_170_2/479c61ed08307b8231cbb4890c2bdbe1.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/479/272_170_2/479c61ed08307b8231cbb4890c2bdbe1.jpg"
							alt="Технология Siemens intelligentCleaning system" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/479/272_170_2/479c61ed08307b8231cbb4890c2bdbe1.jpg">
					</picture>

					<div class="all-video__link"> Технология Siemens intelligentCleaning system</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26843">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/oQIBu4IETPo">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/503/272_170_2/5032296073be22c2b3826a55c9447e97.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/503/272_170_2/5032296073be22c2b3826a55c9447e97.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/503/272_170_2/5032296073be22c2b3826a55c9447e97.jpg"
							alt="Технология Siemens selfCleaning condenser" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/503/272_170_2/5032296073be22c2b3826a55c9447e97.jpg">
					</picture>

					<div class="all-video__link"> Технология Siemens selfCleaning condenser</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26842">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/-0TrezjtdjM">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/ff3/272_170_2/ff366787851bb8e5d5242a0e266ad83e.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/ff3/272_170_2/ff366787851bb8e5d5242a0e266ad83e.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/ff3/272_170_2/ff366787851bb8e5d5242a0e266ad83e.jpg"
							alt="Технология Siemens activeSteam" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/ff3/272_170_2/ff366787851bb8e5d5242a0e266ad83e.jpg">
					</picture>

					<div class="all-video__link"> Технология Siemens activeSteam</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26841">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/v9E8xXD0GW4">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/eed/272_170_2/eed73fdeee75daa369f5157d25942f19.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/eed/272_170_2/eed73fdeee75daa369f5157d25942f19.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/eed/272_170_2/eed73fdeee75daa369f5157d25942f19.jpg"
							alt="Технология Siemens cleanAir" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/eed/272_170_2/eed73fdeee75daa369f5157d25942f19.jpg">
					</picture>

					<div class="all-video__link"> Технология Siemens cleanAir</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26810">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/cCtw6X2zINU">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/140/272_170_2/140504730a40e8882c76892aa0a5f36f.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/140/272_170_2/140504730a40e8882c76892aa0a5f36f.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/140/272_170_2/140504730a40e8882c76892aa0a5f36f.jpg"
							alt="Технология Siemens extensionFilter" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/140/272_170_2/140504730a40e8882c76892aa0a5f36f.jpg">
					</picture>

					<div class="all-video__link"> Технология Siemens extensionFilter</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26809">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/vM8UMiBcS8M">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/681/272_170_2/681931e2c93b03ec6ded84b28927a91e.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/681/272_170_2/681931e2c93b03ec6ded84b28927a91e.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/681/272_170_2/681931e2c93b03ec6ded84b28927a91e.jpg"
							alt="Технология Siemens climate Control Sensor" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/681/272_170_2/681931e2c93b03ec6ded84b28927a91e.jpg">
					</picture>

					<div class="all-video__link"> Технология Siemens climate Control Sensor</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26712">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/UybsKSZoS0Q">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/c1a/272_170_2/c1ae5e58947d41c4cead0e943cb0ec3a.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/c1a/272_170_2/c1ae5e58947d41c4cead0e943cb0ec3a.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/c1a/272_170_2/c1ae5e58947d41c4cead0e943cb0ec3a.jpg"
							alt="Функция Siemens sous vide" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/c1a/272_170_2/c1ae5e58947d41c4cead0e943cb0ec3a.jpg">
					</picture>

					<div class="all-video__link"> Функция Siemens sous vide</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26711">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/ztkQlTA_jjY">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/54d/272_170_2/54dd719fba6d95edb024b4787ef085d2.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/54d/272_170_2/54dd719fba6d95edb024b4787ef085d2.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/54d/272_170_2/54dd719fba6d95edb024b4787ef085d2.jpg"
							alt="Технология Home Connect: recipeWorld для духовых шкафов" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/54d/272_170_2/54dd719fba6d95edb024b4787ef085d2.jpg">
					</picture>

					<div class="all-video__link"> Технология Home Connect: recipeWorld для духовых шкафов</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26710">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/MUYO8iN0fPE">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/0d3/272_170_2/0d3ae439041362f58eff1739360a5b33.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/0d3/272_170_2/0d3ae439041362f58eff1739360a5b33.webp">

						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/0d3/272_170_2/0d3ae439041362f58eff1739360a5b33.jpg"
							alt="Система Siemens activeClean" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/0d3/272_170_2/0d3ae439041362f58eff1739360a5b33.jpg">
					</picture>

					<div class="all-video__link"> Система Siemens activeClean</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26709">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/OQTI752VTQ0">

					<picture>

						<source type="image/webp"
							data-srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/b1a/272_170_2/b1a7a8f963ecdfc503905a0f0ea74900.webp"
							srcset="https://siemens.ret-team.ru/upload/resize_cache/iblock/b1a/272_170_2/b1a7a8f963ecdfc503905a0f0ea74900.webp">

						<img data-src="images/all-video-1.jpg"
							alt="Дизайн серии встраиваемой кухонной техники iQ700 от Siemens"
							class="video__pic lazyloaded" src="images/all-video-1.jpg">
					</picture>

					<div class="all-video__link"> Дизайн серии встраиваемой кухонной техники iQ700 от Siemens</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_26708">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/YyaibynMlTw">

					<picture>

						<source type="image/webp"
							data-srcset="/upload/resize_cache/iblock/bde/272_170_2/bde6ad61b9b6feb23209bc4764460d2e.webp"
							srcset="/upload/resize_cache/iblock/bde/272_170_2/bde6ad61b9b6feb23209bc4764460d2e.webp">
						https://siemens.ret-team.ru
						<img data-src="https://siemens.ret-team.ru/upload/resize_cache/iblock/bde/272_170_2/bde6ad61b9b6feb23209bc4764460d2e.jpg"
							alt="Как испытывают варочные панели и духовые шкафы Siemens" class="video__pic lazyloaded"
							src="https://siemens.ret-team.ru/upload/resize_cache/iblock/bde/272_170_2/bde6ad61b9b6feb23209bc4764460d2e.jpg">
					</picture>

					<div class="all-video__link"> Как испытывают варочные панели и духовые шкафы Siemens</div>
				</a>
			</div>

		</div>
		<div class="all-video__bottom">
			<a class="load-more" href="#">Загрузить еще</a>
			{% include 'pagination/pagination.html' %}
		</div>
	</div>

</div>
