.help {
	display: flex;
	flex-wrap: wrap;
	margin-top: -3rem;
	padding-bottom: 3rem;


	&__row {
		width: 100%;
		// font-family: 'Gotham Pro Medium';
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #2e2e2e;
		padding: 16px 20px;
		display: flex;
		flex-wrap: wrap;
		background-color: #ffffff;
		border: solid 1px #eeeeee;
		margin: 9px 0;
		background: url("https://icongr.am/fontawesome/caret-down.svg?color=666666") 99% 20px/20px no-repeat;
		cursor: pointer;

		&-open {
			background: url("https://icongr.am/fontawesome/caret-up.svg?color=666666") 99% 20px/20px no-repeat;
			color: $base;
		}

		&:hover {
			box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
		}

		&:first-child {
			margin-top: 35px;
		}
	}

	&__info {
		// font-family: 'Gotham Pro';
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.57;
		letter-spacing: normal;
		text-align: left;
		color: #2e2e2e;
		width: 100%;
		margin-top: 15px;
		display: none;
	}

	&.connect {
		margin-top: 0;

		.help {

			&__row {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				font-size: 14px;
				font-weight: 500;
				text-align: left;
				color: #333;
				padding: 8px 32px 7px 40px;
				width: 100%;
				border: none;
				border-bottom: 1px solid #e8e8e8;
				margin: 0;
				background-image: url("../images/arrow-black.png");
				background-position: 10px;
				transition: none;

				&:nth-child(odd) {
					background-color: #f8f8f8;
				}

				&:first-child {
					margin-top: 0;
					margin-bottom: 0;
				}

				&-open {
					padding-bottom: 40px;
					font-weight: bold;
					background-image: url("../images/arrow-green.png");
					background-position-y: 10px;

					.help__price {
						font-weight: normal;
					}
				}

			}

			&__info {
				margin-top: 0;
			}

			&__title {
				color: #AF235F;
				margin: 24px 0 16px;
			}

			&__price {
				margin-left: auto;
				width: 75px;
			}
		}


	}

	@media screen and (max-width: 767px) {

		&.connect {

			.help {

				&__row {
					flex-direction: column;

					&-open {

						.help__price {
							margin-top: 6px;
						}
					}
				}

				&__price {
					margin-left: unset;
				}

				&__info {
					// font-family: "Gotham Pro";
					line-height: 22px;
				}
			}

		}

	}
}
