<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			О бренде Siemens
		</h2>
		<img src="images/about-brand.png" align='right' class="pic_right loaded lazyloaded" alt="">
		<p>

			Конечно, самая популярная продукция компании в России — это бытовая техника Siemens. Для экспорта в нашу
			страну
			производятся холодильники, стиральные и посудомоечные машины, духовые шкафы, варочные панели и многое-многое
			другое.
			Передовые технологии и отличные дизайнерские решения делают продукцию компании востребованной и очень
			популярной.
			Однако не только бытовая техника получила широкое распространение в нашей стране.
			<br>
			<br>
			Производственные площадки и офисы Siemens есть в 190 странах мира, и этот факт говорит сам за себя.
			Зарекомендовав
			себя как лидер в области электроники и электротехники, компания Siemens не останавливается на достигнутом и
			продолжает уверенно завоевывать все новые ниши, поддерживая проекты в области науки, образования, культуры и
			спорта.

			<br>
			<br>
			В нашем интернет-магазине Siemens представлена, в первую очередь, кухонная бытовая техника. Акцент на этой
			продукции
			сделан неслучайно: именно с этими, казалось бы, простыми и повседневными приборами вы сможете оценить
			всю радость и удобство управления «умной» техникой.
		</p>
	</div>
</article>
