<article class="seo-text text-default ">
	<div class="container">
		<h2 class="seo-text__title">
			Почему покупают технику Siemens
		</h2>
		<img src="images/main-seo-text.png" alt="" class="pic_left loaded lazyloaded">
		<p>
			Конечно, самая популярная продукция компании в России — это бытовая техника Siemens. Для экспорта в нашу
			страну
			производятся холодильники, стиральные и посудомоечные машины, духовые шкафы, варочные панели и многое-многое
			другое.
			Передовые технологии и отличные дизайнерские решения делают продукцию компании востребованной и очень
			популярной. Однако
			не только бытовая техника получила широкое распространение в нашей стране.

		</p>
		<p align="justify">
			Производственные площадки и офисы Siemens есть в 190 странах мира, и этот факт говорит сам за себя.
			Зарекомендовав
			себя как лидер в области электроники и электротехники, компания Siemens не останавливается на достигнутом и
			продолжает уверенно завоевывать все новые ниши, поддерживая проекты в области науки, образования, культуры и
			спорта.
		</p>
		<p align="justify">
			В нашем интернет-магазине Siemens представлена, в первую очередь, кухонная бытовая техника. Акцент на этой
			продукции
			сделан неслучайно: именно с этими, казалось бы, простыми и повседневными приборами вы сможете оценить всю
			радость и
			удобство управления «умной» техникой.
		</p>


		<div class="about-store__button js-about-store__button">Читать подробнее</div>
	</div>

</article>
<article class="seo-text text-default ">
	<div class="container">
		<img src="images/main-seo-text-2.png" alt="" class="pic_right loaded lazyloaded">
		<p align="justify">
			Производственные площадки и офисы Siemens есть в 190 странах мира, и этот факт говорит сам за себя.
			Зарекомендовав
			себя как лидер в области электроники и электротехники, компания Siemens не останавливается на достигнутом и
			продолжает
			уверенно завоевывать все новые ниши, поддерживая проекты в области науки, образования, культуры и спорта.
		</p>

		<p align="justify">
			В нашем интернет-магазине Siemens представлена, в первую очередь, кухонная бытовая техника. Акцент на этой
			продукции
			сделан неслучайно: именно с этими, казалось бы, простыми и повседневными приборами вы сможете оценить всю
			радость и
			удобство управления «умной» техникой.
		</p>
		<p align="justify">
			Конечно, самая популярная продукция компании в России — это бытовая техника Siemens. Для экспорта в нашу
			страну
			производятся холодильники, стиральные и посудомоечные машины, духовые шкафы, варочные панели и многое-многое
			другое.
		</p>
		<p align="justify">

		</p>
	</div>
</article>
<div class="gallery__items">
	<div class="container">
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture><img src="images/gallery-link_1.png" alt=""></picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Официальная гарантия
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Гарантийный сервис Bosch
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture><img src="images/gallery-link_2.png" alt=""></picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Сервис и обслуживание
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Об установке и подклчении
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture><img src="images/gallery-link_3.png" alt=""></picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Глоссарий
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Технологии компании Bosch
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture><img src="images/gallery-link_4.png" alt=""></picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Отзывы
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Отзывы и мнения покупателей
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
	</div>
	<!-- /.container -->
</div>
<article class="seo-text text-default">
	<div class="container">
		<h2>Официальные сайты и дилеры Siemens</h2>
		<p>
			Купить бытовую и другую технику Siemens не составит труда — в каталоге с помощью удобного поиска вы отыщете
			нужную
			модель, для осуществления покупки просто отправьте выбранную технику в «Корзину». Наш менеджер свяжется с
			вами для
			уточнения деталей заказа. Для вас работает доставка по России, Москве и Московской области. Качественная
			бытовая
			техника «Сименс» гарантированно сделает вашу жизнь проще, и покупка долгие годы будет радовать вас своей
			надежностью
			и универсальностью.
		</p>
		<div class="official-dealers">
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/hXlZLJs_pO8" id="bx_3322728009_11700">

				<picture>

					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers.png"
						srcset="images/official-dealers.png">

					<img data-src="images/official-dealers.png" alt="видео 1 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers.png">
				</picture>
			</a>
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/41QGgxGqjb4" id="bx_3322728009_11701">

				<picture>

					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers-2.png"
						srcset="images/official-dealers-2.png">

					<img data-src="images/official-dealers.png" alt="видео 2 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers-2.png">
				</picture>

			</a>
		</div>

		<p>
			В отличие от других морозильных отделений в Monolith все пространство занято не контейнерами, а похоже
			на
			холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к часто используемым
			продуктам, не
			нужно перебирать все упаковки, чтобы найти нужную. Прозрачные передняя стенка позволяет быстро найти
			нужные продукты.
			На дверцах можно хранить упаковки ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для
			заправки
			супов.
		</p>
		<p>
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в верхней части.
		</p>
		<p>
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю
			влагу
			из морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить
			разморозку.
		</p>
		<p>
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.

		</p>
		<div class="about-store__button js-about-store__button">Читать подробнее</div>
	</div>

</article>

<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">Сервисные центры Siemens в России</h2>
		<img alt="Холодильники Liebherr на официальном сайте" src="images/service-centers.png"
		class="pic_right loaded lazyloaded" title="Холодильники Либхер с официальной гарантией">
		<p>
			Почему нужно хранить продукты в холодильнике? В результате биохимических процессов углеводы и белки
			разрушаются,
			низкая температура приостанавливает этот процесс. Одна из главных причин порчи — размножение микроорганизмов
			(бактерий, дрожжей и грибов), а при охлаждении метаболизм микроорганизмов замедляется, большинство бактерий
			и грибов
			относятся к классу мезофилов, размножающихся при 20-40°C. Например, бактерии сальмонеллы не размножаются
			ниже +6°C, а
			температура в холодильной камере как раз +5°C или ниже.
		</p>
		<p>
			Как правильно замораживать продукты? Специалисты указывают температуру −18°C в морозильной камере в качестве
			оптимальной и рекомендуют обязательно упаковывать продукты перед замораживанием.
		</p>

	</div>

</article>
