<div class="gallery">

	<div class="swiper-container-main"
		data-options='{"slidesPerView": "1", "spaceBetween": 0, "centeredSlides": true,"preloadImages": false}'
		data-swiper>
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide" id="bx_3218110189_17292">

				<picture>

					<source type="image/webp"
						data-srcset="https://siemens.ret-team.ru/upload/iblock/0d0/0d059491a71c5af7cc0ef92d3f72ba6d.webp">

					<img data-src="https://siemens.ret-team.ru/upload/iblock/0d0/0d059491a71c5af7cc0ef92d3f72ba6d.jpg"
						alt="Техника Siemens на сайте официального специализированного магазина | Москва"
						class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">Техника Siemens на сайте официального специализированного магазина
							sim-studio.ru</h1>

					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_26117">

				<picture>

					<source type="image/webp"
						data-srcset="https://siemens.ret-team.ru/upload/iblock/805/8051a61316eb21abde1c01f5762b5071.webp">

					<img data-src="https://siemens.ret-team.ru/upload/iblock/805/8051a61316eb21abde1c01f5762b5071.jpg"
						alt="Варочные панели Siemens" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/catalog/varochnie-paneli/" target="_blank">Варочные
								панели Siemens</a></span>

						<span class="span span__big">
							<p>Варочные панели Siemens отличаются широким функционалом, стильным внешним видом
								и&nbsp;удобным управлением. Индукционные, электрические и&nbsp;газовые поверхности
								прекрасно дополнят любую кухню и&nbsp;гарантируют комфорт приготовления любых блюд.</p>
						</span> <a href="/catalog/varochnie-paneli/" title="Варочные панели Siemens"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_26118">

				<picture>

					<source type="image/webp"
						data-srcset="https://siemens.ret-team.ru/upload/iblock/967/967218f96d1a74a92ec912f740eb13a4.webp">

					<img data-src="https://siemens.ret-team.ru/upload/iblock/967/967218f96d1a74a92ec912f740eb13a4.jpg"
						alt="Духовые шкафы Siemens" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/catalog/duhovyie_shkafyi/" target="_blank">Духовые
								шкафы Siemens</a></span>

						<span class="span span__big">
							<p>Духовые шкафы Siemens&nbsp;— многофункциональные приборы, оснащенные большим количеством
								полезных функций. Удобное управление и&nbsp;широкий выбор программ помогут быстро
								и&nbsp;качественно приготовить даже самые сложные блюда и&nbsp;удовлетворить самый
								требовательный вкус. </p>
						</span> <a href="/catalog/duhovyie_shkafyi/" title="Духовые шкафы Siemens"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_26121">

				<picture>

					<source type="image/webp"
						data-srcset="https://siemens.ret-team.ru/upload/iblock/d7d/d7d6f7a12d0000d20710f5d15ea4709a.webp">

					<img data-src="https://siemens.ret-team.ru/upload/iblock/d7d/d7d6f7a12d0000d20710f5d15ea4709a.jpg"
						alt="Стиральные машины Siemens" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/catalog/stiralnyie_mashinyi/"
								target="_blank">Стиральные машины Siemens</a></span>

						<span class="span span__big">
							<p>Стиральные машины Siemens&nbsp;— незаменимый прибор в&nbsp;любой квартире или доме.
								С&nbsp;их&nbsp;помощью вы&nbsp;можете постирать до&nbsp;8&nbsp;кг белья! Программы для
								различных типов тканей обеспечивают деликатный уход за&nbsp;вещами. А&nbsp;система
								AquaStop гарантирует безопасность эксплуатации. </p>
						</span> <a href="/catalog/stiralnyie_mashinyi/" title="Стиральные машины Siemens"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_26119">

				<picture>

					<source type="image/webp"
						data-srcset="https://siemens.ret-team.ru/upload/iblock/881/88152df1af12252cdde069960aa741fe.webp">

					<img data-src="https://siemens.ret-team.ru/upload/iblock/881/88152df1af12252cdde069960aa741fe.jpg"
						alt="Холодильники Siemens" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/catalog/holodilniki_siemens/"
								target="_blank">Холодильники Siemens</a></span>

						<span class="span span__big">
							<p>Холодильники Siemens&nbsp;— стильные и&nbsp;надежные устройства, которые прекрасно
								дополнят любой интерьер. Встраиваемые и&nbsp;отдельностоящие, двухкамерные
								и&nbsp;Side-by-Side, с&nbsp;различными системами охлаждения и&nbsp;в&nbsp;различных
								дизайнах&nbsp;— подберите такой прибор, какой подходит именно вам! </p>
						</span> <a href="/catalog/holodilniki_siemens/" title="Холодильники Siemens"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination js-swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev js-swiper__prev"></div>
		<div class="swiper-button-next js-swiper__next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>

</div>
