<div class="gallery">
	<div class="swiper-container-main"
		data-options='{"slidesPerView": "1", "spaceBetween": 0, "centeredSlides": true,"preloadImages": false, "autoplay": {"delay": "2500","disableOnInteraction": false}}'
		data-swiper>
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<source type="image/webp" class="lazyload" data-srcset="images/main-1.webp">
					<img data-src="images/main-1.png"
						alt="Холодильники Liebherr на сайте официального специализированного магазина"
						class="lazyload" />
				</picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<a href="#">
							Сенсорное управление дарит новое ощущение свободы.
							</a>
						</span>
						<span class="span span__big">
							Siemens представляет iSensoric. Полная автоматизация и впечатляющие результаты достигаются всего лишь нажатием кнопки. Для жизни, в которой нет места рутине.
						</span>
						<a href="#" title="Морозильные камеры Liebherr" class="swiper__link">
							Посмотреть
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture>
					<source type="image/webp" class="lazyload" data-srcset="images/main-1.webp">
					<img data-src="images/main-1.png"
						alt="Холодильники Liebherr на сайте официального специализированного магазина"
						class="lazyload" />
				</picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<a href="#">
							Сенсорное управление дарит новое ощущение свободы.
							</a>
						</span>
						<span class="span span__big">
							Siemens представляет iSensoric. Полная автоматизация и впечатляющие результаты достигаются всего лишь нажатием кнопки. Для жизни, в которой нет места рутине.
						</span>
						<a href="#" title="Морозильные камеры Liebherr" class="swiper__link">
							Посмотреть
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture>
					<source type="image/webp" class="lazyload" data-srcset="images/main-1.webp">
					<img data-src="images/main-1.png"
						alt="Холодильники Liebherr на сайте официального специализированного магазина"
						class="lazyload" />
				</picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<a href="#">
							Сенсорное управление дарит новое ощущение свободы.
							</a>
						</span>
						<span class="span span__big">
							Siemens представляет iSensoric. Полная автоматизация и впечатляющие результаты достигаются всего лишь нажатием кнопки. Для жизни, в которой нет места рутине.
						</span>
						<a href="#" title="Морозильные камеры Liebherr" class="swiper__link">
							Посмотреть
						</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination js-swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev js-swiper__prev"></div>
		<div class="swiper-button-next js-swiper__next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>

</div>
