<div class="new-items special-offers">
	<div class="container">
		<div class="new-items__caption">
			<span class="special-offers__title new-items__title">Новинки техники Сименс</span>
			<span class="new-items__how"><a href="#">57&#8194;новинок</a></span>
		</div>

		<!-- Slider main container -->
		<div class="swiper-container"
			data-options='{"slidesPerView": "4","lazy": true, "spaceBetween": 36,"allowTouchMove": false,"breakpoints": {"767": {"allowTouchMove": true,"slidesPerGroup":1,"spaceBetween": 22,"slidesPerView": 2},"600": {"allowTouchMove": true,"slidesPerGroup": 1,"slidesPerView": 1,"spaceBetween": 10}}}'
			data-swiper>
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper special-offers__wrapper">
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Варочная поверхность
						Siemens JH MB67</a>
					<div class="special-offers__sale">
						<span class="special-offers__price catalog__price price__dashed">

							139 500 <i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">140 500 руб.</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">
						Посудомоечная машина
						Siemens JD FB4102
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Духовой шкаф
						Siemens JO ED7538</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"> <img src="images/foto_4.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Встраиваемый холодильник
						Siemens JR BW1770</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Варочная поверхность
						Siemens JH MB67</a>
					<div class="special-offers__sale">
						<span class="special-offers__price catalog__price price__dashed">

							139 500 <i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">140 500 руб.</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">
						Посудомоечная машина
						Siemens JD FB4102
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Духовой шкаф
						Siemens JO ED7538</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"> <img src="images/foto_4.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Встраиваемый холодильник
						Siemens JR BW1770</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Варочная поверхность
						Siemens JH MB67</a>
					<div class="special-offers__sale">
						<span class="special-offers__price catalog__price price__dashed">

							139 500 <i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">140 500 руб.</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">
						Посудомоечная машина
						Siemens JD FB4102
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Духовой шкаф
						Siemens JO ED7538</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"> <img src="images/foto_4.jpg"
							class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Встраиваемый холодильник
						Siemens JR BW1770</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>

			</div>
			<!-- If we need pagination -->

			<!-- If we need navigation buttons -->
			<!-- If we need scrollbar -->
			<div class="swiper-scrollbar"></div>
		</div>
		<div class="swiper-pagination js-swiper-pagination"></div>

		<a href="#" class="new-items__link">
			Посмотреть все новинки
		</a>
		<div class="swiper-button-prev js-swiper__prev"></div>
		<div class="swiper-button-next js-swiper__next"></div>
	</div>

</div>
